<div class="logo">
</div>
<ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
  <li nz-menu-item [nzSelected]="true"><span><i class="anticon anticon-home"></i><span class="nav-text">首页</span></span></li>
  <li nz-submenu >
    <span title><i class="anticon anticon-user"></i><span class="nav-text">成绩统计</span></span>
    <ul>
      <li nz-menu-item>成绩统计</li>
      <li nz-menu-item>一分三率</li>
      <li nz-menu-item>分段统计</li>
    </ul>
  </li>
  <li nz-submenu>
    <span title><i class="anticon anticon-team"></i><span class="nav-text">Team</span></span>
    <ul>
      <li nz-menu-item>Team 1</li>
      <li nz-menu-item>Team 2</li>
    </ul>
  </li>
</ul>
